In [1]:
import pandas as pd
import numpy as np

In [2]:
full_df = pd.read_csv('full_df.csv')

In [3]:
full_df.columns

Index(['Unnamed: 0', 'email', 'source', 'isunsub', 'create_dt', 'modified_dt'], dtype='object')

In [4]:
full_df.rename(columns={'source':'code','isunsub':'is_unsub','create_dt':'created_dt','modified_dt':'updated_dt'},inplace=True)

In [5]:
full_df.drop(columns = 'Unnamed: 0',inplace=True)

In [6]:
full_df['created_dt'] = pd.to_datetime(full_df['created_dt'],infer_datetime_format=True)
full_df['updated_dt'] = pd.to_datetime(full_df['updated_dt'],infer_datetime_format=True)

In [ ]:
full_df.to_csv('people.csv')

In [7]:
full_df['created_dt'] = pd.to_datetime(full_df.created_dt).dt.date
full_df.head()

,email,code,is_unsub,created_dt,updated_dt
0,santiagoeric@hunt.info,NaN,1,2002-03-17,2011-03-26 20:08:01
1,amandabullock@cunningham-brown.com,organic,1,2012-12-15,2010-03-03 12:38:21
2,michael06@torres-baker.com,google,1,1987-12-17,2012-11-26 18:07:20
3,rosalessteven@yahoo.com,twitter,1,1989-07-16,1980-08-10 09:19:53
4,matthewjohnson@vazquez.com,facebook,1,1976-07-27,2004-05-03 18:40:04

In [14]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275484 entries, 0 to 275483
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   email       275484 non-null  object
 1   code        138266 non-null  object
 2   is_unsub    275484 non-null  int64
 3   created_dt  275484 non-null  object
 4   updated_dt  275484 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 10.5+ MB

In [12]:
df_daily=full_df.groupby('created_dt').count()

In [13]:
df_daily.reset_index()

       created_dt  email  code  is_unsub  updated_dt
0      1970-01-01     13     6        13          13
1      1970-01-02     14     6        14          14
2      1970-01-03     11     8        11          11
3      1970-01-04     18     6        18          18
4      1970-01-05     17    10        17          17
...           ...    ...   ...       ...         ...
18440  2020-06-27     12     6        12          12
18441  2020-06-28     18     9        18          18
18442  2020-06-29     18    11        18          18
18443  2020-06-30     13     5        13          13
18444  2020-07-01     13     8        13          13

[18445 rows x 5 columns]

In [15]:
df_daily = df_daily.drop(columns = ['code','is_unsub','updated_dt'])
df_daily.rename(columns ={'created_dt':'acquistion_date','email':'acquisitions'},inplace=True)
df_daily.to_csv('acquisition_facts.csv')