In [1]:
import pandas as pd
import numpy as np
import wget
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
cons = pd.read_csv('cons.csv')
email = pd.read_csv('cons_email.csv')
subs = pd.read_csv('cons_email_chapter_subscription.csv')

In [3]:
subs.describe()

,cons_email_chapter_subscription_id,cons_email_id,chapter_id,isunsub
count,350000.000000,350000.000000,350000.000000,350000.000000
mean,175000.500000,350695.017049,1.425889,0.901354
std,101036.441445,201952.593769,0.901675,0.298186
min,1.000000,3.000000,1.000000,0.000000
25%,87500.750000,176301.500000,1.000000,1.000000
50%,175000.500000,351203.000000,1.000000,1.000000
75%,262500.250000,525782.250000,1.000000,1.000000
max,350000.000000,699997.000000,4.000000,1.000000

In [4]:
'''people needed columns: email(string): in email,code(string): in cons as source,is_unsub(boolean): in subs as isunsub,created_dt(datetime): in cons as create_dt also in email as create_dt,updated_dt(datetime): maybe modified_dt in all three?
    '''
cons.drop(columns=['prefix','firstname','middlename','lastname','suffix','gender','birth_dt','title','employer',
                   'occupation','income','userid','password','is_validated','is_banned','change_password_next_login',
                   'consent_type_id','create_app','create_user','modified_app','modified_user','status','note'],inplace=True)

cons.head()

,cons_id,salutation,source,subsource,create_dt,modified_dt
0,1,NaN,google,NaN,"Fri, 1983-08-26 06:02:03","Sun, 2015-12-27 09:28:02"
1,2,boFqBKgLlSgEZsFrgCZd,facebook,pRzBAZSGNScwCyreCEYr,"Mon, 1979-03-05 21:08:54","Tue, 1989-06-20 13:28:57"
2,3,NaN,NaN,UAWXnALxxBXmwbPibFdw,"Fri, 2008-08-22 19:20:28","Fri, 2020-06-05 18:13:57"
3,4,NaN,google,NaN,"Sun, 1984-04-29 11:18:18","Tue, 2012-01-31 07:26:35"
4,5,ArvPJuEozHPaqbirovMi,NaN,NaN,"Thu, 2007-07-19 18:28:09","Tue, 1971-04-27 06:53:53"

In [5]:
email.drop(columns=['is_primary','canonical_local_part','double_validation','create_app','create_user',
                            'modified_app','modified_user','status','note','create_dt','modified_dt'],inplace=True)
email.head()

,cons_email_id,cons_id,cons_email_type_id,email,domain
0,1,548198,3361,xmartinez@vincent.com,gmail.com
1,2,491137,2474,hmiller@haynes.biz,hotmail.com
2,3,413429,5175,aaron64@yahoo.com,yahoo.com
3,4,347346,4117,wyattvincent@hotmail.com,gmail.com
4,5,443000,6781,tspencer@hotmail.com,gmail.com

In [9]:
'''We only care about subscription statuses where chapter_id is 1.
If an email is not present in this table, it is assumed to still be subscribed where chapter_id is 1.'''
"delete chapter_id 0 and do left inner joins on mod_dt from subs"
subs.drop(columns=['unsub_dt','modified_dt'],inplace=True)
subs.head()

KeyError: "['unsub_dt' 'modified_dt'] not found in axis"

In [6]:
subs=subs[subs['chapter_id']==1]
subs_email = pd.merge(subs,email,how='left',on=['cons_email_id'])
full_df = pd.merge(subs_email,cons,how='left',on=['cons_id'])
full_df.info()
subs_email.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275484 entries, 0 to 275483
Data columns (total 15 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   cons_email_chapter_subscription_id  275484 non-null  int64
 1   cons_email_id                       275484 non-null  int64
 2   chapter_id                          275484 non-null  int64
 3   isunsub                             275484 non-null  int64
 4   unsub_dt                            275484 non-null  object
 5   modified_dt_x                       275484 non-null  object
 6   cons_id                             275484 non-null  int64
 7   cons_email_type_id                  275484 non-null  int64
 8   email                               275484 non-null  object
 9   domain                              275484 non-null  object
 10  salutation                          138165 non-null  object
 11  source                              138266 non-null  object
 12  subsource                           138063 non-null  object
 13  create_dt                           275484 non-null  object
 14  modified_dt_y                       275484 non-null  object
dtypes: int64(6), object(9)
memory usage: 33.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 275484 entries, 0 to 275483
Data columns (total 10 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   cons_email_chapter_subscription_id  275484 non-null  int64
 1   cons_email_id                       275484 non-null  int64
 2   chapter_id                          275484 non-null  int64
 3   isunsub                             275484 non-null  int64
 4   unsub_dt                            275484 non-null  object
 5   modified_dt                         275484 non-null  object
 6   cons_id                             275484 non-null  int64
 7   cons_email_type_id                  275484 non-null  int64
 8   email                               275484 non-null  object
 9   domain                              275484 non-null  object
dtypes: int64(6), object(4)
memory usage: 23.1+ MB

In [8]:
full_df.head()

,cons_email_chapter_subscription_id,cons_email_id,chapter_id,isunsub,cons_id,cons_email_type_id,email,domain,salutation,source,subsource,create_dt,modified_dt
0,1,332188,1,1,558514,2582,santiagoeric@hunt.info,gmail.com,OsCVDPtIniFWhYqPDnlk,NaN,CFoxSKPolgsqBnRMvDMk,"Sun, 2002-03-17 02:35:08","Sat, 2011-03-26 20:08:01"
1,2,536526,1,1,12447,9716,amandabullock@cunningham-brown.com,gmail.com,NaN,organic,zcqRLbWEZMTlwOaWmbug,"Sat, 2012-12-15 00:23:24","Wed, 2010-03-03 12:38:21"
2,3,134711,1,1,49952,1757,michael06@torres-baker.com,gmail.com,NaN,google,uPKiNNVkbftdwIeuvHkl,"Thu, 1987-12-17 00:22:11","Mon, 2012-11-26 18:07:20"
3,4,660345,1,1,27409,830,rosalessteven@yahoo.com,gmail.com,vwBsdNnKMfJTmgFpUdBr,twitter,BGLlcgUlxhlKUIeQAkjN,"Sun, 1989-07-16 22:14:29","Sun, 1980-08-10 09:19:53"
4,5,184268,1,1,76099,9744,matthewjohnson@vazquez.com,yahoo.com,NaN,facebook,hnRivrBsTZsuYGDchodE,"Tue, 1976-07-27 11:26:08","Mon, 2004-05-03 18:40:04"

In [ ]:
full_df[['email','source','isunsub','create_dt','modified_dt']].to_csv('full_df')

In [ ]:
,'chapter_id','unsub_dt','cons_email_id','cons_email_type_id','is_primary','canonical_local_part','domain','double_validation',
                      'create_app_x','create_user_x','modified_app_x','modified_user_x','status_x','note_x','prefix','firstname','middlename','lastname','suffix','salutation','gender',
                      'birth_dt','title','employer','occupation','income','subsource','userid','password','is_validated','is_banned','change_password_next_login','consent_type_id',
                      'create_app_y','create_user_y','modified_app_y','modified_user_y','status_y','note_y'